# This file assigns default reviewers for pull requests.
* @AdiFranDev @itchiii16 @Jhey20-sys @SuiSensei @cjohnramirez
/docs/ @SuiSensei @cjohnramirez
/frontend/ @SuiSensei @cjohnramirez
/backend/ @SuiSensei @cjohnramirez
/websocket/ @SuiSensei @cjohnramirez

